<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>Vehicle Brnad </th>
            <th>Category Name </th>
            <th>Picture </th>
            <th>Price </th>
            <th>Depriciation</th>
            <th>Number of years </th>
            <th>Total Price </th>
        </tr>

        {{#each cat}}
        <tr>
            <td>{{this.vehicle_brand}}</td>
            <td>{{this.category_name}}</td>
            <td><img height="100" width="100" src={{this.Picture}} /></td>
            <td>{{this.price}}</td>
            <td>{{this.depreciation}}</td>
            <td>{{this.Nfy}}</td>
            <td>{{this.tprice}}</td>

        </tr>
        {{/each}}

    </table>
</body>

</html>